:root {
    --background-uy: url(banderaUy.jpg);
	--displayF: flex;
	--background-uy-val: url(valverde.jpg)

	--background-grad0: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
  }


body {
	background: linear-gradient(to left, #536976, #292e49);
	
}

h1 {
	text-align: center;
	color: #ffc;
}
h2 {/* este es titulo de la seleccion*/
   font-size: 20px;
}
h3 { /* este es de partidos*/
    font-size: 18px;
	text-align: center;
}
.vsC { /* este es de partidos*/
	background: linear-gradient(to bottom, white, blue);
	font-size:  16px;
	opacity: 0.7;
	text-align: center;
}
.vsP { /* este es de partidos*/
	background: linear-gradient(to left, #ff0000, #006600, #ffff00, #003399,#ffffff);
	font-size:  16px;
	opacity: 0.7;
	text-align: center;
}
.vsG { /* este es de partidos*/
	background: linear-gradient(to left, #ce1126, #fcd116, #000, #006b3f);
	font-size:  16px;
	opacity: 0.7;
	text-align: center;
}
li {
	list-style-type: none;
}
h4 { /* este es de InnerHTML en js*/
    font-size: 16px;
    color: red;
}
 /*rivales abajp del partido*/
 li > p{
	background-color: greenyellow;
	font-size:  16px;
}
.contador {
    width: auto;
	display: flex;
	border-radius: 25%;
	justify-content: center;
	background: linear-gradient(to left, #ffd89b, #19547b);
	padding: 5px;
	color: #2CEB3C;
	text-shadow: 1px 2px 0px #fff,
				 2px 2px 0px red,
				 3px 3px 0px blue,
				 4px 4px 1px green;
}

.letracartel {
    font-size: x-large;
    font-weight: 1000;
	opacity: 1;
	
}

/* */
.first {
	background-image: url(valverde.jpg);
	background-size: cover;
	aspect-ratio: auto;
}

.second {
	
	background-image: url(giorgian.jpg);
	background-size: cover;
	aspect-ratio: auto;
}
.third {
	width: 100%;
	background-image: url(darwin.png);
	background-size: cover;
	aspect-ratio: auto;
	
}

.primerPartido {
	margin: 10px;
	padding: 10px;
    font-size: small;
	
	color: #0c1554;
	text-shadow: 1px 1px 1px ;;
	
	
}

.segundoPartido {
	font-size: small;
	margin: 10px;
	padding: 10px;
	 
	
	background-repeat: no-repeat
}
.tercerPartido{
	font-size: small;
	width: auto;
	margin: 10px;
	padding: 10px;
	background-size: contain;
	background-repeat: no-repeat

}

#seleccion {
	display: var(--displayF);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}