:root {
    --background-uy: url(banderaUy.jpg);
	--displayF: flex;
  }


body {
	background: linear-gradient(to left, #536976, #292e49);
}

h1 {
	text-align: center;
	color: #ffc;
}
h2 {
    font-size: xx-large;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 12px;
    color: red;
}
.contador {
    width: auto;
	display: flex;
	border-radius: 25%;
	justify-content: center;
	background: linear-gradient(to left, #56ccf2, #2f80ed);
	padding: 5px;
	color: #2CEB3C;
	text-shadow: 1px 2px 0px #fff,
				 2px 2px 0px red,
				 3px 3px 0px blue,
				 4px 4px 1px green;
}

.letracartel {
    font-size: x-large;
    font-weight: 1000;
	opacity: 1;
	
}


.primerPartido {
    font-size: small;
	object-fit: cover;
	
	
	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat
}
.segundoPartido {
	font-size: small;
	width: auto;
	
	background-size: contain;
	background-repeat: no-repeat
}
.tercerPartido{
	font-size: small;
	width: auto;
	
	background-size: contain;
	background-repeat: no-repeat

}

#seleccion {
	display: var(--displayF);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}